@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: "Be Vietnam Pro", sans-serif;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
  height: calc(100vh - 60px) !important;
  /* overflow: hidden; */
}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
.nav-pills > li > a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-pills > li.active > a {
  background-color: #80bb35 !important;
  color: #fff !important;
}
a {
  color: #555 !important;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .row.content {
    height: auto;
  }
}
